@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

    .fontThis{
      font-family: "IBM Plex Mono", SFMono-Regular, Menlo, Consolas, monospace;
      color:#F5F5F5;
    }
.HTMLBGColor{
    background-color: #0A0A0A;
}
/*color pallette{  #F5F5F5, #FFD700, #4FB319, #0A0A0A*/
